.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotate(0deg); width: 60px; }
  50% { transform: rotate(180deg); width: 100px; }
  100% { transform: rotate(360deg); width: 60px; }
}
